@charset "utf-8";

@import "Setup.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Khula";
    margin: 0;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: Heebo;
    // font-family: "Playfair Display";
    // font-weight: 700;
}

a {
    text-decoration: none;
}