@charset "utf-8";

@import "Setup.scss";

html {
    scroll-behavior: smooth;
    height: 100%;
    color: $title-sm;
}

body {
    font-family: "Khula";
    margin: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.loader {
    font-size: 3em;
    margin: auto;
}

.content {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: Heebo;
    // font-family: "Playfair Display";
    // font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {

    &::selection {
        // TODO revisar dependiendo de que color use para main al final
        // y mirar por que esta sacando un color un poco distinto
        background-color: $main;
        color: white;
    }
}

a {
    text-decoration: none;
    color: $main;
}

button, input {

    &:focus {
        outline: none;
    }
}

input {
    caret-color: $main;
}

.btn {
    background-color: $main;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 60px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px $light-grey;
}

