.auth-background {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-panel {
        background-color: rgba(255, 255, 255, 0.8);
        width: 30vw;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 4vh;
    }
}