@import "../Setup.scss";

nav {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 2vh 2vw;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: white;
    transition: 0.5s;
    overflow: hidden;

    a {
        color: black;
    }

    &.shrink-nav {
        height: 2vh;
    }

    img {
        height: 100%;
    }

    .nav-burger {
        margin: 1em;
        width: 40px;
        display: none;
    
        &:after, &:before, div {
            background-color: $title-sm;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;    
        }
    
        &:hover:before {
            transform: translateY(12px) rotate(135deg);
        }
    
        &:hover:after {
            transform: translateY(-12px) rotate(-135deg);
        }
    
        &:hover div {
            transform: scale(0);
        }
    }

    .dropdown-hidden {
        display: none;
    }

    .dropdown-show {
        display: block;
    }

    .full-menu {
        display: flex;
        align-items: center;

        * {
            padding: 1vw 3vw;
        }

        a {
            position: relative;
            text-transform: uppercase;

            &:before {
                position: absolute;
                color: $main;
                top: 0px;
                left: 0px;
                overflow: hidden;
                content: attr(alt);
                transition: all 0.3s;
                transform: scale(1.5);
                opacity: 0;
                padding: 1vw 3vw;
            }

            &:hover:before {
                transform: scale(1);
                opacity: 1;
            }

            &:active, &.active-nav-item {
                background-color: $light-grey;
            }
        }
    }
}



@media (max-width: 600px) {
    nav {

        & > div:nth-of-type(1) {
            width: 100vw;
            display: flex;
            justify-content: space-between;

            .nav-burger {
                display: block;
                align-self: center;
            }
        }

        .dropdown-show {
            width: 100vw;
            position: fixed;
            top: 9vh;
            left: 0;
            right: 0;
            background-color: white;
            transition: 0.5s;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.shrink-nav {
            
            .dropdown-show {
                top: 6vh;
            }
        }

        .full-menu {
            display: none;
        }
    }
    
}