@import "../Setup.scss";

nav {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    height: 5vh;
    padding: 2vh 2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: white;
    transition: 0.5s;

    a {
        color: black;
    }

    &.shrink-nav {
        height: 2vh;
    }

    img {
        height: 100%;
    }

    .nav-burger {
        margin: 1em;
        width: 40px;
        display: none;
    
        &:after, &:before, div {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;    
        }
    
        &:hover:before {
            transform: translateY(12px) rotate(135deg);
        }
    
        &:hover:after {
            transform: translateY(-12px) rotate(-135deg);
        }
    
        &:hover div {
            transform: scale(0);
        }
    }

    .dropdown-hidden {
        display: none;
    }

    .dropdown-show {
        display: block;
    }

    .full-menu {
        display: flex;
        align-items: center;

        * {
            margin-left: 3vw;
        }

        a {
            position: relative;
            text-transform: uppercase;

            &:before {
                position: absolute;
                color: $main;
                top: 0px;
                left: 0px;
                overflow: hidden;
                content: attr(alt);
                transition: all 0.3s;
                transform: scale(1.5);
                opacity: 0;
            }

            &:hover:before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}



@media (max-width: 600px) {
    nav {

        .nav-burger {
            display: block;
        }

        .full-menu {
            display: none;
        }
    }
    
}