.hero {
    background-image: url("/timextime.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

    .arrow {

        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .fa-angle-double-down {
            display: none;
        }

        &:hover {
    
            .fa-grip-lines {
                display: none;
            }
        
            .fa-angle-double-down {
                display: block;
            }
        }

    }

}

